<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
  </head>
  <body>
    <!-- image masronri responsive -->


   

    <!-- Modal toggle -->
    <script src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <!-- responsive navbar -->
    <script>
      const toggleBtn = document.getElementById("toggleBtn");
      const mobileMenu = document.getElementById("navbar-sticky");

      toggleBtn.addEventListener("click", function () {
        mobileMenu.classList.toggle("hidden");
      });
    </script>
    <!-- end responsive navbar -->
  </body>
</html>
